/* src/components/EmployeeGrid.css */
.employee-grid {
    padding: 20px;
}

.header-controls {
    display: flex;
    justify-content: left;
    align-items: baseline;
    margin-bottom: 20px;
    gap: 20px;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.employee-table {
    margin-top: 20px;
}

.ant-table {
    border: 1px solid #f0f0f0;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
    border: none !important;
}

.ce-column .ant-btn,
.sector-column .ant-btn {
    font-weight: bold;
}

.employee-cell {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
}

.employee-button {
    margin: 2px;
}

.employee-button,
.add-employee-button {
    background: none;
    border: none;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
}

.employee-button:hover,
.add-employee-button:hover {
    color: #1890ff;
}

.add-employee-button {
    opacity: 0;
    transition: opacity 0.3s;
}

.employee-cell:hover .add-employee-button {
    opacity: 1;
}